<html>
<head>
  <title><%= @repo.group_description %></title>
</head>
<body>

<table border="0" cellpadding="0" cellspacing="0">
<% @repo.issues_by.each do |group, issues|%>
  <tbody>
  <tr>
    <td>
      <span class="group-wrapper">
        <h2>
          <% if group and @repo.group_by == :assignee %>
            <img height="30" width="30" src="<%= group['avatar_url'] %>">
          <% end %>
          <a href="<%= @repo.pivot_url(group)%>">
            <%= @repo.group_name(group) %>
          </a>
          (<a href="<%= @repo.group_url(group)%>">
            <%= issues.count %>
          </a>)
        </h2>
      </span>
    </td>
  </tr>
  <% issues.each do |issue|%>
    <tr class="issue">
      <td class="number">
        #<%= issue['number'] %>
      </td>
      <td class="info">
        <div class="wrapper">
          <h3>
            <a href="<%= issue['html_url'] %>"><%= issue['title']%></a>
          </h3>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
<% end %>
</body>
</html>
